@model IEnumerable<OnlineStore.Models.Categoria>

@{
    ViewBag.Title = "Lista de Categorias";
}

<h2>Lista de Categorias </h2>

<p>
    <a href='@Url.Action("Create")' class="btn btn-primary">Crear</a>
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            <a href='@Url.Action("Edit", new { id = item.CategoriaId })' class="btn btn-warning btn-xs">Editar </a>
            <a href='@Url.Action("Delete", new { id = item.CategoriaId })' class="btn btn-danger btn-xs">Borrar</a>
        </td>
    </tr>
}

</table>
