@model IEnumerable<OnlineStore.Models.Categoria>

@{
    ViewBag.Title = "Lista de Categorias";
}

<h2>Lista de Categorias </h2>

<p>
    <button class="btn btn-primary"> @Html.ActionLink("Crear", "Create") </button>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            <button class="btn btn-warning btn-xs">@Html.ActionLink("Editar", "Edit", new { id=item.CategoriaId }) </button>
            <button class="btn btn-danger btn-xs">@Html.ActionLink("Borrar", "Delete", new { id = item.CategoriaId }) </button>
</td>
    </tr>
}

</table>
