@model OnlineStore.Models.Orden

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Detalles.SingleOrDefault().NombreProducto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Detalles.SingleOrDefault().PrecioProducto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Detalles.SingleOrDefault().Cantidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Detalles.SingleOrDefault().Subtotal)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.Detalles)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreProducto)
                </td>
                <td>
                    $@Html.DisplayFor(modelItem => item.PrecioProducto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cantidad)
                </td>
                <td>
                    $@Html.DisplayFor(modelItem => item.Subtotal)
                </td>
                <th></th>
            </tr>
        }

        <tr>
            <td></td>
            <td></td>
            <td>@Html.DisplayNameFor(model => model.Total)</td>
            <td>$@Html.DisplayFor(model => model.Total)</td>
            <th></th>
        </tr>

    </table>
