@model IEnumerable<OnlineStore.Models.Producto>

@{
    ViewBag.Title = "Index";
}

<h2>Lista de Productos</h2>

<p>
    <a href='@Url.Action("Create")' class="btn btn-primary">Crear</a>
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Categoria.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Stock)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Precio)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Categoria.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Stock)
        </td>
        <td>
            $@Html.DisplayFor(modelItem => item.Precio)
        </td>
        <td>
            <a href='@Url.Action("Edit", new { id = item.ProductoId })' class="btn btn-warning btn-xs">Editar </a>
            <a href='@Url.Action("Delete", new { id = item.ProductoId })' class="btn btn-danger btn-xs">Borrar</a>
        </td>
    </tr>
}

</table>
