@model OnlineStore.Models.Orden

@{
    ViewBag.Title = "Detalles";
}

<h2>@ViewBag.Title</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UsuarioEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UsuarioEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaCompra)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaCompra)
        </dd>
    </dl>
</div>
@Html.Partial("_OrdenDetalles", Model)

<div>
    <button class="btn btn-primary">@Html.ActionLink("Volver a la lista", "Index", "Ordenes")</button>
</div>
