@model OnlineStore.Models.Orden

@{
    ViewBag.Title = "Detalles";
}

<h2>Detalles</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UsuarioEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UsuarioEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaCompra)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaCompra)
        </dd>
    </dl>
</div>
@Html.Partial("_OrdenDetalles",Model)
<p>
    @Html.ActionLink("Volver a Lista", "Index")
</p>
