@model OnlineStore.Models.Orden

@{
    ViewBag.Title = "Gracias por su compra";
}

<h2>@ViewBag.Title</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UsuarioEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UsuarioEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaCompra)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaCompra)
        </dd>
    </dl>
</div>
@Html.Partial("_OrdenDetalles", Model)

<div>
    <a href='@Url.Action("Index", "Home")'class="btn btn-primary">Volver a la pagina principal</a>
</div>