@model IEnumerable<OnlineStore.Models.CarritoItem>

@{
    ViewBag.Title = "Carrito";
    int total = 0;
    int carritoItems = Model.Count();
}

<h2>Carrito</h2>
<h4 id="errorCarrito">@Html.Raw(ViewBag.Error) </h4>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Producto.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Producto.Precio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cantidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Subtotal)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Producto.Nombre)
            </td>
            <td>
                $@Html.DisplayFor(modelItem => item.Producto.Precio)
            </td>
            <td>
                @{if (item.Cantidad > 1)
                    {
                        <a href='@Url.Action("RestarUno", new { carritoItemId = item.CarritoItemId, usuarioEmail = User.Identity.Name })'class="btn btn-primary btn-xs">-</a>
                    }
                }
                @Html.DisplayFor(modelItem => item.Cantidad)
                @{ if (item.Producto.Stock > item.Cantidad)
                    {
                        <a href='@Url.Action("SumarUno", new { carritoItemId = item.CarritoItemId, usuarioEmail = User.Identity.Name })' class="btn btn-primary btn-xs">+</a>
                    }
                }
            </td>
            <td>
                $@Html.DisplayFor(modelItem => item.Subtotal)
            </td>
            @{ total += item.Subtotal;}
            <td>
                <a href='@Url.Action("BorrarUno", new { carritoItemId = item.CarritoItemId, usuarioEmail = User.Identity.Name })' class="btn btn-danger btn-xs">Eliminar</a>
            </td>
            <th></th>
        </tr>
    }

    <tr>
        <td></td>
        <td></td>
        <td>Total</td>
        <td>$@total</td>
        @if (carritoItems > 0)
        {
    <td>
             <a href='@Url.Action("Index", "Home")' class="btn btn-primary btn-xs">Seguir Comprando</a>
             <a href='@Url.Action("FinalizarCompra")' class="btn btn-success btn-xs">Finalizar Compra</a>
    </td>
        }
        else
        {
    <td>
        <a href='@Url.Action("Index", "Home")' class="btn btn-primary btn-xs">Seguir Comprando</a>
    </td>
             
        }

        <th></th>
    </tr>
</table>
@if (carritoItems > 0)
{
<div>
    <a href='@Url.Action("BorrarTodos")' class="btn btn-danger">Vaciar Carrito</a>
</div>
}


<style>
    #errorCarrito {
    color: red;
    line-height: 22px;
}
</style>
