@model IEnumerable<OnlineStore.Models.CarritoItem>

@{
    ViewBag.Title = "Carrito";
    int total = 0;
    int carritoItems = Model.Count();
}

<h2>Carrito</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Producto.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Producto.Precio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cantidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Subtotal)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Producto.Nombre)
            </td>
            <td>
                $@Html.DisplayFor(modelItem => item.Producto.Precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cantidad)
            </td>
            <td>
                $@Html.DisplayFor(modelItem => item.Subtotal)
            </td>
            @{ total += item.Subtotal;}
            <td>
                @Html.ActionLink("Sumar 1", "SumarUno", new { carritoItemId = item.CarritoItemId }) |
                @Html.ActionLink("Restar 1", "RestarUno", new { carritoItemId = item.CarritoItemId }) |
                @Html.ActionLink("Borrar", "BorrarUno", new { carritoItemId = item.CarritoItemId })
            </td>
            <th></th>
        </tr>
    }

<tr>
    <td></td>
    <td></td>
    <td>Total</td>
    <td>$@total</td>
    @if (carritoItems > 0)
    {
<td>@Html.ActionLink("Seguir Comprando", "Index", "Home") | @Html.ActionLink("Finalizar Compra", "FinalizarCompra", new { usuarioEmail = User.Identity.Name })</td>
    }
    else
    {
        <td>@Html.ActionLink("Seguir Comprando", "Index", "Home")</td>
    }

    <th></th>
</tr>
</table>
@if (carritoItems > 0)
{
    <div>@Html.ActionLink("Borrar Todos", "BorrarTodos", new { usuarioEmail = User.Identity.Name })</div>
}