@model IEnumerable<OnlineStore.Models.CarritoItem>

@{
    ViewBag.Title = "Carrito";
    int total = 0;
    int carritoItems = Model.Count();
}

<h2>Carrito</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Producto.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Producto.Precio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cantidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Subtotal)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Producto.Nombre)
            </td>
            <td>
                $@Html.DisplayFor(modelItem => item.Producto.Precio)
            </td>
            <td>
                <button class="btn btn-primary btn-xs">@Html.ActionLink("-", "RestarUno", new { carritoItemId = item.CarritoItemId })</button>
                @Html.DisplayFor(modelItem => item.Cantidad)
                <button class="btn btn-primary btn-xs">@Html.ActionLink("+", "SumarUno", new { carritoItemId = item.CarritoItemId }) </button>
            </td>
            <td>
                $@Html.DisplayFor(modelItem => item.Subtotal)
            </td>
            @{ total += item.Subtotal;}
        <td>
            <button class="btn btn-danger btn-xs">@Html.ActionLink("Eliminar", "BorrarUno", new { carritoItemId = item.CarritoItemId }) </button>
        </td>
            <th></th>
        </tr>
    }

<tr>
    <td></td>
    <td></td>
    <td>Total</td>
    <td>$@total</td>
    @if (carritoItems > 0)
    {
        <td> <button class="btn btn-primary btn-xs">@Html.ActionLink("Seguir Comprando", "Index", "Home") </button>
        <button class="btn btn-success btn-xs">@Html.ActionLink("Finalizar Compra", "FinalizarCompra", new { usuarioEmail = User.Identity.Name })</button></td>
    }
    else
    {
        <td><button class="btn btn-primary btn-xs">@Html.ActionLink("Seguir Comprando", "Index", "Home")</button></td>
    }

    <th></th>
</tr>
</table>
@if (carritoItems > 0)
{
    <div>
    <button class="btn btn-danger">@Html.ActionLink("Vaciar Carrito", "BorrarTodos", new { usuarioEmail = User.Identity.Name })</button>
    </div>
}
